body{
    background:white;
    font-family:'Inter',Arial,sans-serif;
    padding:40px;
}

.testimonial-card1{
    background:red;
    color: #fff;
    border-radius:20px;
    padding:32px 28px 24px 28px;
    max-width: 300px;
    margin:auto;
}

.testimonial-card1 .testimonial-text{
    font-size:1.13rem;
    line-height: 1.6;
    margin-bottom: 24px;
}
.speech-bubble {
    position: relative;
    background:black;
    border-radius: 10px;
  }
.speech-bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    width: 0;
    border-top: 20px solid blue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.user-info img{
    border-radius: 50%;
    width:100px;
    height:100px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

