body{
    background:white;
    font-family:'Inter',Arial,sans-serif;
    padding:40px;
}

.testimonial-col1 {
    display: flex;
    flex-direction: row;
    justify-content: center;   /* centers the cards horizontally */
    gap: 2px;                  /* sets 2px gap between the cards */
    min-width: 700px;
}


.testimonial-card1{
    background:red;
    color: #fff;
    border-radius:20px;
    padding:25px;
}

.testimonial-card1 .testimonial-text{
    font-size:1.13rem;
    line-height: 1.6;
    margin-bottom: 24px;
}
.speech-bubble {
    position: relative;
    background:black;
    border-radius: 10px;
    margin:10px;
  }
.speech-bubble:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 20px;
    width: 0;
    border-top: 20px solid blue;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.user-info img{
    border-radius: 50%;
    width:100px;
    height:100px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.testimonial-card2{
    background:blue;
    color: #fff;
    border-radius:20px;
}

.testimonial-card1,.testimonial-card2{
    flex:1;
    border-radius: 20px;
    max-width: 250px;
}
